.category-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--neutral-color);
}

/* .category-page {
  padding: 1rem;
} */

.button.selected-category-button {
    background-color: var(--primary-color);
}

.button.unselected-category-button,
.button.unselected-category-button:visited {
    background-color: var(--neutral-color);
}

.button.unselected-category-button:hover,
.button.unselected-category-button:active {
    background-color: var(--primary-color);
}

.header-section {
    display: block;
}

.category-nav {
    margin-top: 1rem;
    background-color: #FFFBF7;
    border: 1px solid black;
    padding: 0 1rem 0 1rem;
    /* padding: 1rem; */
    height: 25rem;
    width: 15rem;
    /* position: relative; */
}

.category-page {
    padding: 1rem;
    /* align-items: center; */
    align-items: right;
    display: flex;
    flex-direction: row;
}

.category-selection {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: left;
    padding-top: 1rem;
    /* padding-left: -1rem; */
}

/* .category-selection li:nth-child(2) {
  display: inline;
  position: relative;
  right: 0;
} */

.category-selection-headers {
    display: flex;
    flex-direction: row;
    /* position: relative; */
    gap: 4rem;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
    align-items: flex-end;
    /* margin-right: ; */
}
.header-section .name {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    color: black;
    float: left;
}
.header-section .symbol {
    float: right;
    /* padding-right: ; */
}

.category-options-unselected a {
    color: #7B7B7B;
    text-decoration: none;
}

.category-options-unselected a:hover {
    color: black;
    text-decoration: underline;
}

.category-options-selected a{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.category-options-selected a:hover {
    color: black;
    text-decoration: underline;
}

.category-selection-headers span {
    position: relative;
    left: 10px;
}

.category-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.category-header .name {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    color: black;
}